/BuffCollider.class
/DefaultCollider.class
/DisparoCollider.class
/EnemigoCollider.class
/JugadorCollider.class
/ObstaculoJugadorCollider.class
/ObstaculoTodosCollider.class
/BuffArmaCollider.class
/KamikazeCollider.class
/BuffVidaCollider.class
/DisparoEnemigoCollider.class
/BuffEscudoCollider.class
/BuffCongelarCollider.class
/SuperMisilCollider.class
/BuffMisilCollider.class
