/Buff.class
/BuffArma.class
/BuffVida.class
/BuffEscudo.class
/BuffTimer.class
/BuffTimerArma.class
/BuffTimerEscudo.class
/BuffTimerVida.class
/BuffCongelarTiempo.class
/BuffTimerCongelar.class
/BuffSuperMisil.class
/BuffTimerMisil.class
